# MongoDB Database Connection String (replace with your MongoDB Atlas or local URI)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.vpb0ct0.mongodb.net/skill-intelligence?appName=Cluster0

# Application Port
PORT=8080

# Environment Mode
NODE_ENV=development
